body{
    width: 100%;
    margin: 0px;
    font-family: ubuntu,Tahoma, Geneva, Verdana, sans-serif;
}
section{
    min-height: 100vh;
}
nav{
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.57);
    backdrop-filter: blur(5px);
}
#landing_page{
    width: 100%;
    background-image: url("./images/bg1.jpg");
    background-size: cover;
    background-position: center;
}
#logo{
    width:110px;
}
.buttons{
    cursor: pointer;
    border:none;
    /* padding:12px; */
    font-size: 14px;
    font-weight: 300;
    height: 48px;
    padding: 2px 24px;
    width: max-content;
    border-radius: 40px;
}
.buttons:hover{

}
#call_to_action{
    padding-top: 50vh;
    padding-left: 20px;
    width: 40%;

}
#landing_action{
    border-radius: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.57);
    backdrop-filter: blur(5px);
}
@media only screen and (max-width: 700px) {
    #desktop_nav{
        display: none;
    }
}